@import "tailwindcss";

@theme {
  --color-primary: #FFC0CB; /* Your soft pink */
  --color-secondary: #FFFFFF; /* White */
  --color-textDark: #333333; /* Dark text */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-secondary);
  margin: 0;
}